====== Plenum am Donnerstag, den {{ date_plenum }} ======

Maximal fünf Minuten pro Thema, komplexere Themen in die [[mitglieder:protokolle:plenum:langthemensammlung|Langthemensammlung]].

Beginn: 20:xx Uhr \\ 
Teilnehmer: xx

{{ content }}

===== Termine =====
{{ upcoming_events }}

Ende: 20:xx Uhr