Hallo,

hier ist der Plenumsbot. Dies ist das Protokoll unseres wöchentlichen Plenums
am {{ plenum_date }}.

Das Original des Protokolls findest du in unserem Wiki auf der Seite:
{{ protocol_link }}

---- ANFANG ----
{{ protocol }}
----- ENDE -----

Das nächste regelmäßige Plenum findet am
{{ next_plenum_date }}
statt. Themen für das Plenum kannst du im Wiki auf der Seite
{{ next_plenum_link }} eintragen.

Liebe Grüße,
Plenumsbot
