===== Rückschau =====

  * foo /nick

===== HQ, lokales =====

  * bar /nick

===== Großes C =====

  * foobar /nick

===== sonstiges =====

  * baz /nick

===== Jemand neu hier? =====

  * anyone /nick