Hallo,

hier ist der plenumsbot. Dies ist die Ankündigung für unser wöchentliches
Plenum am {{ plenum_date }}.

Nachfolgend findest du den aktuellen Stand der Themensammlung. Wenn du noch 
Anmerkungen oder Ergänzungen hast, kannst du sie gerne noch im Wiki 
eingetragen. Komplexe Themen oder Themen die größere Ausgaben beinhalten
sollten mindestens eine Woche vorher auf der Mailingliste angekündigt werden. 

{{ collection_link }}

Die Themensammlung bisher:

---- ANFANG ----
{{ collection_of_topics }}
----- ENDE -----

Liebe Grüße,
Plenumsbot
